include AUTHORS.md
include CONTRIBUTING.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude docs
recursive-include Makefile make.bat *.jpg *.png *.gif
